@font-face {
  font-family: Vazir-Medium;
  src: url("../fonts/Vazir-Medium.eot") format("eot"),
    url("../fonts/Vazir-Medium.woff") format("woff"),
    url("../fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Vazir-Medium;
}

.arrow-nav.collapsed{
  transform: rotate(180deg);
}

#sidebar a,
#sidebar i {
  color: white;
}

#sidebar .nav-link {
  font-size: 15px;
  font-weight: 300px;
}

#sidebar {
  height: calc(100vh - 56px);
  transition: all 0.3s;
  z-index: 1000;
}

#sidebar .arrow-side {
  font-size: 24px;
} 

#sidebar.collapse {
  transform: translate(0, 0);
}

#sidebar.collapsing {
  transform: translate(100%, 0);
}

.img-logo{
  width: 80px;
  height: 50px;
}

img {
  width: 100px;
  height: 100px;
}
.img-full{
  width: 300px;
  height: 300px;
}
tr {
  text-align: center;
}

.input-search form button{
    color: #5e5c5c;
    font-size: 15px;
    border: none;
    background: transparent;
    position: absolute;
    top: -21px;
    left: 15px;
    display: contents;
}

.input-search form input{
    width: 500px;
    font-size: 15px;
    color: #b7b7b7;
    border: none;
    outline: none;
}

.search{
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #201f1f;
  width: fit-content;
  height: 38px;
  padding: 4px;
  border-radius: 20px;
}

.add-icon{
  vertical-align: bottom;
}

.buttom-add{
  position: absolute; 
  top: 0; 
  left: 100px;
}

.product-color{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}