@font-face {
    font-family: "Vazir-Medium";
    src: url('../fonts/Vazir-Medium.eot') format("eot"),
    url('../fonts/Vazir-Medium.ttf') format("ttf"),
    url('../fonts/Vazir-Medium.woff') format("woff"),
    url('../fonts/Vazir-Medium.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Vazir-Medium;
}


.input-search form button{
    color: #5e5c5c;
    font-size: 15px;
    border: none;
    background: transparent;
    position: absolute;
    top: -21px;
    left: 15px;
    display: contents;
}

.input-search form input{
    width: 500px;
    font-size: 15px;
    color: #b7b7b7;
    border: none;
    outline: none;
}

.search{
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid #201f1f;
  width: fit-content;
  height: 38px;
  padding: 4px;
  border-radius: 20px;
}

#sidebar a,
#sidebar span {
  color: white;
}

#sidebar .nav-link {
  font-size: 15px;
  font-weight: 300px;
}

#sidebar {
  height: calc(100vh - 56px);
  transition: all 0.3s;
  z-index: 1000;
}

#sidebar.collapse.show{
  transform: translate(0,0);
}

#sidebar.collapsing{
  transform: translate(100%,0);
}

#icon-arrow.collapsed{
  transform: rotate(180deg);
}
#icon-arrow{
  transition: all 0.5s;
}

/* #main-content{
  background-color: #e5e7eb;
} */

#sidebar.collapsing {
  transform: translate(100%, 0);
}

tr {
  text-align: center;
}

.add-icon{
  vertical-align: bottom;
}

.buttom-add{
  position: absolute; 
  top: 0; 
  left: 100px;
}

.logo{
  width: 60px;
  height: 60px;
}

/* ////////////////////////// */
 /* * Component: Direct Chat
 * ---------------------- */ */

.direct-chat .card-body {
  position: relative;
  overflow-x: hidden;
  padding: 0;
}

.direct-chat-messages {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  padding: 10px;
  height: 250px;
  overflow: auto;
}

.direct-chat-msg,
.direct-chat-text {
  display: block;
}

.direct-chat-msg {
  margin-bottom: 10px;
}

.direct-chat-msg::after {
  display: block;
  clear: both;
  content: "";
}

.direct-chat-messages {
  transition: transform .5s ease-in-out;
}

.direct-chat-text {
  border-radius: 0.3rem;
  position: relative;
  padding: 5px 10px;
  background: #d2d6de;
  border: 1px solid #d2d6de;
  margin: 5px 0 0 50px;
  color: #444;
}

.direct-chat-text:after, .direct-chat-text:before {
  position: absolute;
  right: 100%;
  top: 15px;
  border: solid transparent;
  border-right-color: #d2d6de;
  content: ' ';
  height: 0;
  width: 0;
  pointer-events: none;
}

.direct-chat-text:after {
  border-width: 5px;
  margin-top: -5px;
}

.direct-chat-text:before {
  border-width: 6px;
  margin-top: -6px;
}

.right .direct-chat-text {
  margin-right: 50px;
  margin-left: 0;
}

.right .direct-chat-text:after, .right .direct-chat-text:before {
  right: auto;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #d2d6de;
}

.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}

.right .direct-chat-img {
  float: right;
}

.direct-chat-info {
  display: block;
  margin-bottom: 2px;
  font-size: 0.875rem;
}

.direct-chat-name {
  font-weight: 600;
}

.direct-chat-timestamp {
  color: #999;
}